################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AoC2024/x64
/x64
/day?.txt
/day??.txt
